In [2]:
from pyspark import SparkContext, SparkConf
from pyspark.sql import SparkSession
import pyspark

conf = pyspark.SparkConf().setAppName('appName').setMaster('local')
sc = pyspark.SparkContext(conf=conf)
spark = SparkSession(sc)
#comment check

from pyspark import HiveContext

sqlContext = HiveContext(sc)

In [3]:
sql = sqlContext.sql

In [4]:
stores_df = sqlContext.read.csv("./stores.csv",header=True,inferSchema=True)

In [5]:
stores_df.show(10,False)

+-----+----+------+
|Store|Type|Size  |
+-----+----+------+
|1    |A   |151315|
|2    |A   |202307|
|3    |B   |37392 |
|4    |A   |205863|
|5    |B   |34875 |
|6    |A   |202505|
|7    |B   |70713 |
|8    |A   |155078|
|9    |B   |125833|
|10   |B   |126512|
+-----+----+------+
only showing top 10 rows

In [6]:
test_df = sqlContext.read.csv("./test.csv",header=True,inferSchema=True)

In [7]:
test_df.show(10,False)

+-----+----+-------------------+---------+
|Store|Dept|Date               |IsHoliday|
+-----+----+-------------------+---------+
|1    |1   |2012-11-02 00:00:00|false    |
|1    |1   |2012-11-09 00:00:00|false    |
|1    |1   |2012-11-16 00:00:00|false    |
|1    |1   |2012-11-23 00:00:00|true     |
|1    |1   |2012-11-30 00:00:00|false    |
|1    |1   |2012-12-07 00:00:00|false    |
|1    |1   |2012-12-14 00:00:00|false    |
|1    |1   |2012-12-21 00:00:00|false    |
|1    |1   |2012-12-28 00:00:00|true     |
|1    |1   |2013-01-04 00:00:00|false    |
+-----+----+-------------------+---------+
only showing top 10 rows

In [8]:
train_df = sqlContext.read.csv("./train.csv",header=True,inferSchema=True)

In [9]:
train_df.show(10,False)

+-----+----+-------------------+------------+---------+
|Store|Dept|Date               |Weekly_Sales|IsHoliday|
+-----+----+-------------------+------------+---------+
|1    |1   |2010-02-05 00:00:00|24924.5     |false    |
|1    |1   |2010-02-12 00:00:00|46039.49    |true     |
|1    |1   |2010-02-19 00:00:00|41595.55    |false    |
|1    |1   |2010-02-26 00:00:00|19403.54    |false    |
|1    |1   |2010-03-05 00:00:00|21827.9     |false    |
|1    |1   |2010-03-12 00:00:00|21043.39    |false    |
|1    |1   |2010-03-19 00:00:00|22136.64    |false    |
|1    |1   |2010-03-26 00:00:00|26229.21    |false    |
|1    |1   |2010-04-02 00:00:00|57258.43    |false    |
|1    |1   |2010-04-09 00:00:00|42960.91    |false    |
+-----+----+-------------------+------------+---------+
only showing top 10 rows

In [10]:
features_df = sqlContext.read.csv("./features.csv",header=True,inferSchema=True)

In [11]:
features_df.show(10,False)

+-----+-------------------+-----------+----------+---------+---------+---------+---------+---------+-----------+------------+---------+
|Store|Date               |Temperature|Fuel_Price|MarkDown1|MarkDown2|MarkDown3|MarkDown4|MarkDown5|CPI        |Unemployment|IsHoliday|
+-----+-------------------+-----------+----------+---------+---------+---------+---------+---------+-----------+------------+---------+
|1    |2010-02-05 00:00:00|42.31      |2.572     |NA       |NA       |NA       |NA       |NA       |211.0963582|8.106       |false    |
|1    |2010-02-12 00:00:00|38.51      |2.548     |NA       |NA       |NA       |NA       |NA       |211.2421698|8.106       |true     |
|1    |2010-02-19 00:00:00|39.93      |2.514     |NA       |NA       |NA       |NA       |NA       |211.2891429|8.106       |false    |
|1    |2010-02-26 00:00:00|46.63      |2.561     |NA       |NA       |NA       |NA       |NA       |211.3196429|8.106       |false    |
|1    |2010-03-05 00:00:00|46.5       |2.625     |NA       |NA       |NA       |NA       |NA       |211.3501429|8.106       |false    |
|1    |2010-03-12 00:00:00|57.79      |2.667     |NA       |NA       |NA       |NA       |NA       |211.3806429|8.106       |false    |
|1    |2010-03-19 00:00:00|54.58      |2.72      |NA       |NA       |NA       |NA       |NA       |211.215635 |8.106       |false    |
|1    |2010-03-26 00:00:00|51.45      |2.732     |NA       |NA       |NA       |NA       |NA       |211.0180424|8.106       |false    |
|1    |2010-04-02 00:00:00|62.27      |2.719     |NA       |NA       |NA       |NA       |NA       |210.8204499|7.808       |false    |
|1    |2010-04-09 00:00:00|65.86      |2.77      |NA       |NA       |NA       |NA       |NA       |210.6228574|7.808       |false    |
+-----+-------------------+-----------+----------+---------+---------+---------+---------+---------+-----------+------------+---------+
only showing top 10 rows

In [12]:
samplesub_df = sqlContext.read.csv("./sampleSubmission.csv",header=True,inferSchema=True)

In [13]:
samplesub_df.show(10,False)

+--------------+------------+
|Id            |Weekly_Sales|
+--------------+------------+
|1_1_2012-11-02|0           |
|1_1_2012-11-09|0           |
|1_1_2012-11-16|0           |
|1_1_2012-11-23|0           |
|1_1_2012-11-30|0           |
|1_1_2012-12-07|0           |
|1_1_2012-12-14|0           |
|1_1_2012-12-21|0           |
|1_1_2012-12-28|0           |
|1_1_2013-01-04|0           |
+--------------+------------+
only showing top 10 rows